
<div class="d-flex justify-content-end mb-4">
  <button mat-raised-button type="button" class="btn btn-primary btn-lg" (click)="back()">Back</button>
</div>
<div class="container">



  <form [formGroup]="addHospitalForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      
      <label for="hospital_id">Hospital ID</label>
      <input type="text" formControlName="hospital_id" id="hospital_id" class="form-control" />
      
      
      <div *ngIf="addHospitalForm.get('hospital_id').touched && addHospitalForm.get('hospital_id').invalid" class="text-danger">
        Hospital ID is required.
      </div>

      
      <label for="hospital_name">Hospital Name</label>
      <input type="text" formControlName="hospital_name" id="hospital_name" class="form-control" />
      
      
      <div *ngIf="addHospitalForm.get('hospital_name').touched && addHospitalForm.get('hospital_name').invalid" class="text-danger">
        Hospital Name is required.
      </div>

      
      <label for="address">Address</label>
      <input type="text" formControlName="address" id="address" class="form-control" />
      
      
      <div *ngIf="addHospitalForm.get('address').touched && addHospitalForm.get('address').invalid" class="text-danger">
        Address is required.
      </div>

      
      <label for="contact_number">Contact Number</label>
      <input type="text" formControlName="contact_number" id="contact_number" class="form-control" />
      
      
      <div *ngIf="addHospitalForm.get('contact_number').touched && addHospitalForm.get('contact_number').invalid" class="text-danger">
        Contact Number is required.
      </div>

      
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" />
      
      
      <div *ngIf="addHospitalForm.get('email').touched && addHospitalForm.get('email').invalid" class="text-danger">
        A valid email is required.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">Add Hospital</button>
      </div><br>
    </div>
  </form>
</div>
