<div class="container">
  <form [formGroup]="addPatientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!-- Patient ID -->
      <label for="patient_id">Patient ID</label>
      <input type="text" formControlName="patient_id" id="patient_id" class="form-control" />
      <div *ngIf="addPatientForm.get('patient_id').touched && addPatientForm.get('patient_id').invalid" class="text-danger">
        Patient_id is empty.
      </div>

      <!-- First Name -->
      <label for="first_name">First Name</label>
      <input type="text" formControlName="first_name" id="first_name" class="form-control" />
      <div *ngIf="addPatientForm.get('first_name').touched && addPatientForm.get('first_name').invalid" class="text-danger">
        First Name is empty.
      </div>

      <!-- Last Name -->
      <label for="last_name">Last Name</label>
      <input type="text" formControlName="last_name" id="last_name" class="form-control" />
      <div *ngIf="addPatientForm.get('last_name').touched && addPatientForm.get('last_name').invalid" class="text-danger">
        Last Name is empty.
      </div>

      <!-- Email -->
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" />
      <div *ngIf="addPatientForm.get('email').touched && addPatientForm.get('email').invalid" class="text-danger">
        Email is empty.
      </div>

      <!-- Phone -->
      <label for="phone">Phone</label>
      <input type="text" formControlName="phone" id="phone" class="form-control" />
      <div *ngIf="addPatientForm.get('phone').touched && addPatientForm.get('phone').invalid" class="text-danger">
        Phone Number is empty.
      </div>

      <!-- Date of Birth -->
      <label for="dob">Date of Birth</label>
      <input type="date" formControlName="dob" id="dob" class="form-control" />
      <div *ngIf="addPatientForm.get('dob').touched && addPatientForm.get('dob').invalid" class="text-danger">
        DOB is empty.
      </div>

      <!-- Address -->
      <label for="address">Address</label>
      <input type="text" formControlName="address" id="address" class="form-control" />
      <div *ngIf="addPatientForm.get('address').touched && addPatientForm.get('address').invalid" class="text-danger">
        Address is empty.
      </div>

      <!-- Gender -->
      <label for="gender">Gender</label>
      <select formControlName="gender" id="gender" class="form-control">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <div *ngIf="addPatientForm.get('gender').touched && addPatientForm.get('gender').invalid" class="text-danger">
        Gender is empty.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">Add Patient</button>
      </div><br>
    </div>
  </form>
</div>
