<nav class="navbar navbar-dark navbar-expand-sm container" style="background-color: black;">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/about">APP</a></li>
    <li class="nav-item"><a class="nav-link">Employee list (JSON server)</a></li>
    <li class="nav-item"><a class="nav-link">Add Employee (JSON server)</a></li>
    <li class="nav-item"><a class="nav-link">Employee list (Spring Boot)</a></li>
    <li class="nav-item"><a class="nav-link">Add Employee (Spring Boot)</a></li>
  </ul>

</nav>


<header>
  <section class="container">
    <h1>The angular component will come here</h1>
    <router-outlet /> 
  </section>
</header>

<footer class="container" style="background-color: aquamarine;">
  <h1>Thanks for using our app</h1>
  <pre> 2021 - Angular Demo App</pre>
</footer>
