<div class="container my-5">
  
  <!-- Buttons section -->
  <div class="d-flex justify-content-end mb-4">
    <button mat-raised-button color="primary" type="button" class="me-2" (click)="addHospital()">Add Hospital</button>
    <button mat-raised-button color="accent" type="button" class="me-2" style="color:black;" (click)="back()">Back</button>
    <button mat-raised-button color="warn" type="button" style="width: 150px;" (click)="logout()">Logout</button>
  </div>

  <!-- Search box section above the heading -->
  <div class="mb-4 d-flex justify-content-between align-items-center">
    <div class="w-50">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Search by ID for details</mat-label>
        <input matInput [(ngModel)]="searchInput" (ngModelChange)="searchHospitals()" name="searchInput" placeholder="Enter Hospital ID" />
      </mat-form-field>
    </div>
  </div>

  <!-- Doctor List Heading -->
  <h3 style="text-align: left; background-color: bisque; color: black; padding: 8px; margin-bottom: 20px; width: 200px;">Hospital List</h3>

  <!-- Table Section -->
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered" style="width: 100%;">
      <thead class="thead-dark">
        <tr>
          <!-- <th>ID</th> -->
          <th>Hospital ID</th>
          <th>Hospital Name</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals" class="align-middle">
          <!-- <td>{{hospital.id}}</td> -->
          <td>{{hospital.hospitalId}}</td>
          <td>{{hospital.hospitalName}}</td>
          <td>{{hospital.address}}</td>
          <td>{{hospital.contactNumber}}</td>
          <td>{{hospital.email}}</td>
          <td class="d-flex justify-content-around">
            <button mat-raised-button (click)="deleteHospital(hospital.id)" class="btn btn-danger btn-sm" style="background-color: red;">Delete</button>
            <button mat-raised-button (click)="updateHospital(hospital.id)" class="btn btn-warning btn-sm" style="background-color: orange;">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
