
<div class="d-flex justify-content-end mb-4">
  <button mat-raised-button type="button" class="btn btn-primary btn-lg " style="margin-right: 2.4%;" (click)="back()">Back</button>
</div>
<div class="container">
  
  <form [formGroup]="addAppointmentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="appointment_id">Appointment ID</label>
      <input type="text" formControlName="appointment_id" id="appointment_id" class="form-control" />
      <div *ngIf="addAppointmentForm.get('appointment_id').touched && addAppointmentForm.get('appointment_id').invalid" class="text-danger">
        Appointment ID is required.
      </div>

      <label for="doctor_name">Doctor Name</label>
      <input type="text" formControlName="doctor_name" id="doctor_name" class="form-control" />
      <div *ngIf="addAppointmentForm.get('doctor_name').touched && addAppointmentForm.get('doctor_name').invalid" class="text-danger">
        Doctor Name is required.
      </div>

      <label for="patient_name">Patient Name</label>
      <input type="text" formControlName="patient_name" id="patient_name" class="form-control" />
      <div *ngIf="addAppointmentForm.get('patient_name').touched && addAppointmentForm.get('patient_name').invalid" class="text-danger">
        Patient Name is required.
      </div>

      <label for="appointment_date">Appointment Date</label>
      <input type="date" formControlName="appointment_date" id="appointment_date" class="form-control" />
      <div *ngIf="addAppointmentForm.get('appointment_date').touched && addAppointmentForm.get('appointment_date').invalid" class="text-danger">
        Appointment Date is required.
      </div>

      <label for="time">Time</label>
      <input type="time" formControlName="time" id="time" class="form-control" />
      <div *ngIf="addAppointmentForm.get('time').touched && addAppointmentForm.get('time').invalid" class="text-danger">
        Time is required.
      </div>

      <label for="reason">Reason for Visit</label>
      <input type="text" formControlName="reason" id="reason" class="form-control" />
      <div *ngIf="addAppointmentForm.get('reason').touched && addAppointmentForm.get('reason').invalid" class="text-danger">
        Reason is required.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">Add Appointment</button>
      </div><br>
    </div>
  </form>
</div>
